<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>22635653792-468dg7vvguj2d1gu9nqv50barpk106ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.22635653792-468dg7vvguj2d1gu9nqv50barpk106ki</string>
	<key>API_KEY</key>
	<string>AIzaSyDoKbWC2u9AQ1Oid2XnsDQcXQV8sAwmkto</string>
	<key>GCM_SENDER_ID</key>
	<string>22635653792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.giselletavares.FinalProject</string>
	<key>PROJECT_ID</key>
	<string>lambton-parking-system</string>
	<key>STORAGE_BUCKET</key>
	<string>lambton-parking-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:22635653792:ios:14714f7d627fa6b2</string>
	<key>DATABASE_URL</key>
	<string>https://lambton-parking-system.firebaseio.com</string>
</dict>
</plist>