<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<array>
		<string>Red</string>
		<string>Black</string>
		<string>Green</string>
	</array>
	<key>Makes</key>
	<array>
		<string>Bentley</string>
		<string>BMW</string>
		<string>Mercedez</string>
	</array>
	<key>Lot</key>
	<array>
		<string>Lane A</string>
		<string>Lane B</string>
		<string>Lane C</string>
	</array>
	<key>Spot</key>
	<array>
		<string>P1</string>
		<string>P2</string>
		<string>P3</string>
		<string>P4</string>
	</array>
	<key>Timing</key>
	<array>
		<integer>0</integer>
		<string>1</string>
		<string>1.5</string>
		<string>2</string>
		<string>3</string>
		<string>24</string>
	</array>
	<key>MethodPayment</key>
	<array>
		<string>Credit Card</string>
		<string>Cash</string>
		<string>Debit Card</string>
	</array>
</dict>
</plist>
